---
sudo: false
language: ruby
cache: bundler
matrix:
  include:
  - rvm: jruby-9.1.15.0
    env: LOGSTASH_BRANCH=master
  - rvm: jruby-9.1.15.0
    env: LOGSTASH_BRANCH=6.x
  - rvm: jruby-9.1.15.0
    env: LOGSTASH_BRANCH=6.1
  - rvm: jruby-1.7.27
    env: LOGSTASH_BRANCH=5.6
  fast_finish: true
install: true
before_script:
  - chmod +x ci/setup.sh
  - chmod +x ci/build.sh
script: ci/build.sh
jdk: oraclejdk8