---
sudo: false
language: ruby
cache: bundler
services:
- mysql
before_install:
- mysql -e 'CREATE DATABASE jdbc_streaming_db;'
matrix:
  include:
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=master
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=6.x
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=6.0
  - rvm: jruby-1.7.27
    env: LOGSTASH_BRANCH=5.6
  fast_finish: true
install: true
script: ci/build.sh
jdk: oraclejdk8
